<div class="container mt-5 table-container">
    <h1>Asistencia semanal</h1>
    <div class="mb-3">
        <label for="filtro" class="form-label"></label>
        <input type="text" class="form-control" id="filtro" oninput="filtrarAlumnos()">
    </div>
    <table id="t-general-styles" class="table table-bordered mt-3">
        <thead>
            <tr>
                <th class="t-title" scope="col">Código QR</th>
                <th class="t-title" scope="col">Apellidos</th>
                <th class="t-title" scope="col">Nombres</th>
                <th class="t-title" scope="col">Carrera</th> 
                <th class="t-title" scope="col">Sección</th>
                <th class="t-title" scope="col">Ciclo</th>
                <th class="t-title" scope="col">Estado</th>
                <th class="t-title" scope="col">Fecha</th>
                <th class="t-title" scope="col">Estado</th>
                <th class="t-title" scope="col">Modificar</th>
            </tr>
        </thead>
        <tbody  class="t-content">
            {{#each alumnos}}
            <tr>
                <td>{{Codigo_QR}}</td>
                <td>{{apellido}}</td>
                <td>{{nombre}}</td>
                <td>{{carrera_curso}}</td>
                <td>{{seccion}}</td>
                <td>{{ciclo}}</td>
                <td>{{estado}}</td>

                <td>{{moment this.fecha "HH:mm DD/MM/YYYY"}}</td>
                <td>
                    {{#ifCond estado '===' 'asistencia'}}
                    <input type="checkbox" id="checkbox-verde" class="checkbox-verde" checked disabled>
                    <label for="checkbox-verde"></label>
                    {{/ifCond}}
                    {{#ifCond estado '===' 'falta'}}
                    <input type="checkbox" id="checkbox-rojo" class="checkbox-rojo" checked disabled>
                    <label for="checkbox-rojo"></label>
                    {{/ifCond}}
                    {{#ifCond estado '===' 'tardanza'}}
                    <input type="checkbox" id="checkbox-amarillo" class="checkbox-amarillo" checked disabled>
                    <label for="checkbox-amarillo"></label>
                    {{/ifCond}}
                    {{#ifCond estado '===' 'justificado'}}
                    <input type="checkbox" id="checkbox-naranja" class="checkbox-naranja" checked disabled>
                    <label for="checkbox-naranja"></label>
                    {{/ifCond}}
                </td>
                <td>
                    <form action="/asistencias/modificar" method="post">
                        <input type="hidden" name="Codigo_QR" value="{{Codigo_QR}}">
                        <input type="hidden" name="fecha" value="{{ this.fecha}}">
                        <button type="submit" name="nuevoEstado" value="4" class="export-btn" onclick="ftnConfirmación()">Justificar</button>
                    </form>
                </td>
            </tr>
            {{/each}}
            <button  class="export-btn" onclick="location.href='/exportar/semanal';ftnExcel()">Exportar a Excel</button>
        </tbody>
    </table>
</div>